{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "printWidth": 120,
  "requirePragma": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
